/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Asterisk wildcard selector to override default styles given by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 3px 3px goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: rgb(245, 239, 239);
}

h1 {
    font-family: 'Dancing Script', sans-serif;
    color: goldenrod;
}

#menu {
    font-size: 95%;
    letter-spacing: 2px;
    list-style-type: none;
    margin-top: 0%;
}

#menu > li {
    margin-bottom: 3px;
}

.active {
    border-bottom: 1px solid goldenrod;
}

/* Navbar styles with dropdown toggle menu */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px goldenrod;
    display: none;
    top: 100%;
}

#nav a {
    color: goldenrod;
    text-decoration: none;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none; 
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* Force main element to take up surplus space and push footer down */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* Hero Section */
#hero, #testimonials, #signup {
    background-image: url("../images/pexels-wendywei-1656663.jpg");
    background-size: cover;
    width: 100%;
    flex-grow: 1;
    margin-top: 40px;
}

#hero {
    height: auto;
}

#cover-text {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    max-width: 800px;
    justify-content: center;
    align-content: center;
}

#cover-text > h2 {
    color: white !important;
    margin-top: 20px;
}

#join-us {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    color: white;
    justify-content: center;
    align-content: center;
}

#testimonials {
    background-image: url("../images/pexels-wendywei-1656663.jpg");
    background-size: cover;
    width: 100%;
    margin-top: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
} 


#p1, #p2, #p3, #p4, #p5 {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    color: white;
    font-size: 120%;
    max-width: 800px; 
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    display: flex; 
    flex-direction: column; 
    text-align: center; 
}

/* Form */
#signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-form {
    color: white;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    border-radius: 20px;
    margin: 60px 20px;
    font-size: 150%;
    text-align: center;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

#signup-form label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

#signup-form .text-input {
    width: 100%;
    padding: 0.5rem;
    border: 3px solid #736f6f;
    border-radius: 15px;
}

#signup-form .join-button {
    margin-top: 1rem;
    background-color: goldenrod;
    padding: 0.75rem;
    border-radius: 15px;
    font-size: 90%;
    cursor: pointer;
}

#signup-form .join-button:hover {
    background-color: #e8cb65;
}

/* Footer */
footer {
    background-color: black;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: goldenrod;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 0.8rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 80px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down below larger header */
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #hero {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cover-text {
        margin-top: 90px;
        width: 100%;
        max-width: 75%;
    }

    #join-us {
        width: 100%;
        max-width: 75%;
    }

    #testimonials {
        margin-top: 80px;
    }

    #testimonials p {
        font-size: 120%;
    }

    #testimonials cite {
        font-size: 110%;
    }

    #signup-form {
        margin-bottom: 150px;
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: solid 1px goldenrod;
    }

    #hero {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cover-text {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        margin: 20px;
        margin-top: 80px;
        border-radius: 20px;
        color: white;
        font-size: 130%;
        max-width: 800px;
        width: 100%;
        box-sizing: border-box;
    }

    #join-us {
        width: 100%;
        max-width: 800px;
        font-size: 140%;
        color: white;
    }

    #testimonials {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #p1, #p2, #p3, #p4, #p5 {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        margin: 20px;
        margin-top: 40px;
        border-radius: 20px;
        color: white;
        font-size: 140%;
        max-width: 900px;
        width: 100%;
        box-sizing: border-box;
    }

    #signup-form {
        font-size: 150%;
        height: auto;
    }
}

/* Media query: large desktops (1200px and up) */
@media screen and (min-width: 1200px) {
    #signup-form {
        margin-top: 250px;
        font-size: 170%;
    }

    #cover-text {
        padding: 20px;
        margin: 20px;
        margin-top: 150px;
        border-radius: 20px;
        font-size: 140%;
        max-width: 75%;
        width: 100%;
        box-sizing: border-box;
    }

    #join-us {
        width: 100%;
        max-width: 75%;
        font-size: 170%;
        margin-bottom: 100px;
    }

    #p1, #p2, #p3, #p4, #p5 {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        margin: 20px;
        margin-top: 40px;
        border-radius: 20px;
        color: white;
        font-size: 170%;
        max-width: 1300px;
        width: 100%;
    }
}
