/* Asterisk wildcard selector to override default syles given by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: black;
}

/* Main */
main {
    background-color: white;
}

/* Footer */
footer {
    background-color: black;
}