/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


/* Asterisk wildcard selector to override default syles given by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 3px 3px goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: rgb(245, 239, 239);
}


h1 {
    font-family: 'Dancing Script', sans-serif;
    color: goldenrod;
}

#menu {
    font-size: 95%;
    letter-spacing: 2px;
    list-style-type: none;
    margin-top: 0%;
}

#menu > li {
    margin-bottom: 3px;
}

.active {
    border-bottom: 1px solid goldenrod;
}

/* Navbar styles with dropdown toggle menu */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px goldenrod;
    display: none;
    top: 100%;
}

#nav a {
    color: goldenrod;
    text-decoration: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
   display: none; 
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* Force main element to take up surplus space and push footer down */
    flex: 1 0 auto;
    margin-top: 20px;
}

/* Hero Section */
#hero {
    height: 100vh;
    width: 100%;
    background: url(../images/pexels-wendywei-1656663.jpg) no-repeat center center / cover;
}

/* Footer */
footer {
    background-color: black;
   }

   #social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  #social-networks i {
    font-size: 160%;
    padding: 5%;
    color: goldenrod;
  }

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 0.8rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height:80px ;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down below larger header */
        margin-top: 80px;
    }
}

/* Media query: laptops and destops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: solid 1px goldenrod; 
    }
}